
.vs/ProjectPythonRepa/FileContentIndex/48c88499-894e-4fd4-998e-ee754daa26cf.vsidx
.vs/ProjectPythonRepa/FileContentIndex/508c7c7b-b692-42fe-8d3e-ea76b892633c.vsidx
.vs/ProjectPythonRepa/FileContentIndex/68e38eb9-05fc-4f23-9fd4-bf6dcb34f0de.vsidx
.vs/ProjectPythonRepa/FileContentIndex/d5348122-8286-4c9d-88af-9a6fcb8bb44f.vsidx
.vs/ProjectPythonRepa/FileContentIndex/dbe1c99e-554b-46ad-998e-c8005bf1dcfb.vsidx
.vs/ProjectPythonRepa/FileContentIndex/fe596d77-d0db-4907-a5a0-4e63f8e6fef1.vsidx
.vs/ProjectPythonRepa/FileContentIndex/merges/e17ba89d-4db3-4a27-b539-37f98aee08cc.vsidx
.vs/ProjectPythonRepa/FileContentIndex/read.lock
.vs/ProjectPythonRepa/FileContentIndex/write.lock
.vs/ProjectPythonRepa/v17/.wsuo
.vs/ProjectPythonRepa/v17/Browse.VC.db
.vs/ProjectPythonRepa/v17/Browse.VC.db-shm
.vs/ProjectPythonRepa/v17/Browse.VC.db-wal
.vs/ProjectPythonRepa/v17/Browse.VC.opendb
.vs/ProjectSettings.json
.vs/PythonSettings.json
.vs/slnx.sqlite
.vs/slnx.sqlite-journal
.vs/ProjectPythonRepa/FileContentIndex/1882c2a3-2cd8-41c5-8c70-a764fc19bc67.vsidx
*.vsidx
