
.vs/ProjectPythonRepa/FileContentIndex/20e67b5a-3492-426e-a3c9-5114ada17ea9.vsidx
.vs/ProjectPythonRepa/FileContentIndex/45101023-fc68-462e-9d85-55ef024ca925.vsidx
.vs/ProjectPythonRepa/FileContentIndex/9283a077-5312-422f-a1c3-f9947e63a6dc.vsidx
.vs/ProjectPythonRepa/FileContentIndex/d2e26fad-3d7a-4693-a375-3f9dfb8101c4.vsidx
.vs/ProjectPythonRepa/FileContentIndex/e7cd1ce5-1390-4189-99e3-7753ee0499cb.vsidx
.vs/ProjectPythonRepa/FileContentIndex/read.lock
.vs/ProjectPythonRepa/v17/.wsuo
.vs/ProjectPythonRepa/v17/Browse.VC.db
.vs/ProjectPythonRepa/v17/workspaceFileList.bin
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/ProjectPythonRepa/FileContentIndex/2ee5759c-53e2-48d9-a861-81d5d2581332.vsidx
.vs/ProjectPythonRepa/FileContentIndex/2ef9b0d1-7e40-497c-adcd-4849fdd4c2cf.vsidx
.vs/ProjectPythonRepa/FileContentIndex/48c88499-894e-4fd4-998e-ee754daa26cf.vsidx
.vs/ProjectPythonRepa/FileContentIndex/508c7c7b-b692-42fe-8d3e-ea76b892633c.vsidx
.vs/ProjectPythonRepa/FileContentIndex/68e38eb9-05fc-4f23-9fd4-bf6dcb34f0de.vsidx
.vs/ProjectPythonRepa/FileContentIndex/69515813-8b32-4123-96fa-2fbc9f7fd96a.vsidx
.vs/PythonSettings.json
